<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google SignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.872523318210-7fhejfffjudmrrbt4na25iejghf0cjkd</string>
			</array>
			<key>CFBundleURLTypes</key>
			<array>
				<dict>
					<key>CFBundleURLName</key>
					<array>
						<string>GoogleSignIn</string>
					</array>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>com.googleusercontent.apps.872523318210-7fhejfffjudmrrbt4na25iejghf0cjkd</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
